In [1]:
import pandas as pd

In [2]:
compounding_period={
    "Annually": 1,
    "Semi-Annually": 2,
    "Quarterly": 4, 
    "Monthly": 12
}

payment_periods = {
    "Annually": {"periods_per_year": 1, "months_offset": 12, "day_offset": 0},
    "Semi-Annually": {"periods_per_year": 2, "months_offset": 6, "day_offset": 0},
    "Quarterly": {"periods_per_year": 4, "months_offset": 3, "day_offset": 0},
    "Bi-Monthly": {"periods_per_year": 6, "months_offset": 2, "day_offset": 0},
    "Monthly": {"periods_per_year": 12, "months_offset": 1, "day_offset": 0},
    "Semi-Monthly": {"periods_per_year": 24, "months_offset": 0, "day_offset": 15},
    "Bi-Weekly": {"periods_per_year": 26, "months_offset": 0, "day_offset": 14},
    "Weekly": {"periods_per_year": 52, "months_offset": 0, "day_offset": 7}
}

In [3]:
def amortization(principal, amortization_term, interest, compounding_frequency, payment_frequency, cpr, mortgage_term=0):
    calculated_dict=dict()
    calculated_dict["compounding period"]=compounding_period[compounding_frequency]
    calculated_dict["periods per year"]=payment_periods[payment_frequency]["periods_per_year"]
    calculated_dict["interest rate per payment"] = ((1+(interest/calculated_dict["compounding period"]))**(calculated_dict["compounding period"]/calculated_dict["periods per year"]))-1
    if mortgage_term:
        calculated_dict["renewal period"] = (mortgage_term/12)*calculated_dict["periods per year"]
    else:
        calculated_dict["renewal period"] = 0
    calculated_dict["amortization period"] = (amortization_term/12)*calculated_dict["periods per year"]
    calculated_dict["payment per period"] = ((calculated_dict["interest rate per payment"])*principal)/(1-((1+(calculated_dict["interest rate per payment"]))**(-1*calculated_dict["amortization period"])))
    calculated_dict["smm"] = cpr/calculated_dict["periods per year"]
    calculated_dict["month offset"] = payment_periods[payment_frequency]["months_offset"]
    calculated_dict["day offset"] = payment_periods[payment_frequency]["day_offset"]
    return calculated_dict

In [4]:
# a=amortization(principal=10000, amortization_term=300, mortgage_term=12, interest=5, compounding_frequency="Monthly", payment_frequency="Monthly", cpr=10)

In [5]:
# a

In [6]:
import pandas as pd
from datetime import datetime, timedelta

# Input values
start_date = "13-01-2024"
original_principal = 10000  # Amount
amortization_term_months = 300  # Number of months for the amortization
mortgage_term_months = 12  # Mortgage term (should be same as renewal_period)
interest_rate = 0.05  # 5% annual interest rate
compounding_frequency = "Monthly"  # Compounded monthly
payment_frequency = "Weekly"  # Monthly payments
cpr = 0.1  # 10% constant prepayment rate


a=amortization(principal=original_principal, amortization_term=amortization_term_months, mortgage_term=mortgage_term_months, interest=interest_rate, compounding_frequency=compounding_frequency, payment_frequency=payment_frequency, cpr=cpr)


compounding_period = a["compounding period"]  # Compounding frequency per year
periods_per_year = a["periods per year"]  # 12 periods per year
interest_rate_perpayment = a["interest rate per payment"]  # 0.417% interest per period
renewal_period = a["renewal period"]  # Annual renewal
amortization_period = a["amortization period"]  # 300 months
payment_per_period = a["payment per period"]  # Fixed payment amount
smm = a["smm"]  # 0.83% SMM (Single Monthly Mortality rate)
month_offset = a["month offset"]  # Payment month offset
day_offset = a["day offset"]  # Day offset

# Convert the start date to a datetime object
start_date = datetime.strptime(start_date, "%d-%m-%Y")

# Initialize an empty list to store the rows for the DataFrame
amortization_schedule = []

# Set the initial values for period 0
period = 0
date = start_date
opening_balance = original_principal
new_origination = original_principal
closing_balance = new_origination

# Loop over the periods
for period in range(int(a["amortization period"]) + 1):  # +1 to include period 0
    # Calculate the interest for the period
    interest = (opening_balance * interest_rate_perpayment)

    # Payment is the minimum of payment_per_period and the remaining balance (including interest)
    if opening_balance > payment_per_period:
        payment = (payment_per_period)
    else:
        payment = (opening_balance + interest)
    
    # Calculate principal paid for the period
    principal = payment - interest
    
    # Calculate prepayment
    if opening_balance - principal > 0:
        prepayment = (opening_balance * smm)
    else:
        prepayment = 0
    
    if not(period):
        opening_balance=0
        payment=0
        interest=0
        principal=0
        prepayment=0

    else:
        new_origination=0
        

    maturity=0
    # Apply prepayment, maturity, and calculate closing balance
    if period < renewal_period or mortgage_term_months==0:
        # For the first 'mortgage_term_months', no maturity (i.e., closing_balance is just reduced by prepayment and principal)
        closing_balance = opening_balance - prepayment - principal + new_origination
    elif period >= renewal_period or period>=amortization_period:
        # After mortgage term ends, apply maturity
        maturity = opening_balance - principal - prepayment # Remaining balance after regular payments
        closing_balance = 0  # After maturity, the loan is fully paid off
        
    
    # Prepare the data for this period
    row = {
        "period": period,
        "date": date.strftime("%d-%m-%Y"),
        "opening_balance": opening_balance,
        "payment": payment,
        "interest": interest,
        "principal": principal,
        "prepayment": prepayment,
        "new_origination": new_origination,
        "maturity": maturity if period >= mortgage_term_months else 0,
        "closing_balance": closing_balance
    }
    
    # Add the row to the amortization schedule
    amortization_schedule.append(row)
    
    # Update the opening balance for the next period
    opening_balance = closing_balance  # Opening balance of the next period is the closing balance of the current period
    
    # Increment the date
    if payment_frequency=="Weekly":
        date = date + timedelta(days=7)
    elif payment_frequency=="Bi-Weekly":
        date = date + timedelta(days=15)
    elif payment_frequency=="Semi-Monthly":
        date = date + timedelta(days=15)
    elif payment_frequency=="Monthly":
        date = date + timedelta(days=30)  # Adding 30 days to get the next month's date
    if (period >= renewal_period or period>=amortization_period) and mortgage_term_months!=0:
        break

# Create the DataFrame from the amortization schedule list
df_amortization = pd.DataFrame(amortization_schedule)

# Display the resulting DataFrame
print(df_amortization)

    period        date  opening_balance    payment  interest  principal  \
0        0  13-01-2024         0.000000   0.000000  0.000000   0.000000
1        1  20-01-2024     10000.000000  13.468973  9.600013   3.868960
2        2  27-01-2024      9976.900271  13.468973  9.577837   3.891136
3        3  03-02-2024      9953.822789  13.468973  9.555683   3.913290
4        4  10-02-2024      9930.767532  13.468973  9.533550   3.935423
5        5  17-02-2024      9907.734479  13.468973  9.511438   3.957535
6        6  24-02-2024      9884.723608  13.468973  9.489348   3.979625
7        7  02-03-2024      9861.734899  13.468973  9.467278   4.001695
8        8  09-03-2024      9838.768330  13.468973  9.445230   4.023742
9        9  16-03-2024      9815.823879  13.468973  9.423204   4.045769
10      10  23-03-2024      9792.901526  13.468973  9.401198   4.067775
11      11  30-03-2024      9770.001248  13.468973  9.379214   4.089759
12      12  06-04-2024      9747.123025  13.468973  9.357251   4.111722
13      13  13-04-2024      9724.266836  13.468973  9.335309   4.133664
14      14  20-04-2024      9701.432658  13.468973  9.313388   4.155585
15      15  27-04-2024      9678.620472  13.468973  9.291488   4.177485
16      16  04-05-2024      9655.830256  13.468973  9.269610   4.199363
17      17  11-05-2024      9633.061988  13.468973  9.247752   4.221221
18      18  18-05-2024      9610.315648  13.468973  9.225916   4.243057
19      19  25-05-2024      9587.591215  13.468973  9.204100   4.264873
20      20  01-06-2024      9564.888667  13.468973  9.182306   4.286667
21      21  08-06-2024      9542.207983  13.468973  9.160532   4.308441
22      22  15-06-2024      9519.549142  13.468973  9.138780   4.330193
23      23  22-06-2024      9496.912123  13.468973  9.117048   4.351925
24      24  29-06-2024      9474.296906  13.468973  9.095337   4.373635
25      25  06-07-2024      9451.703469  13.468973  9.073648   4.395325
26      26  13-07-2024      9429.131791  13.468973  9.051979   4.416994
27      27  20-07-2024      9406.581851  13.468973  9.030331   4.438642
28      28  27-07-2024      9384.053628  13.468973  9.008704   4.460269
29      29  03-08-2024      9361.547102  13.468973  8.987097   4.481875
30      30  10-08-2024      9339.062252  13.468973  8.965512   4.503461
31      31  17-08-2024      9316.599056  13.468973  8.943947   4.525026
32      32  24-08-2024      9294.157493  13.468973  8.922403   4.546570
33      33  31-08-2024      9271.737544  13.468973  8.900880   4.568093
34      34  07-09-2024      9249.339187  13.468973  8.879378   4.589595
35      35  14-09-2024      9226.962401  13.468973  8.857896   4.611077
36      36  21-09-2024      9204.607165  13.468973  8.836435   4.632538
37      37  28-09-2024      9182.273460  13.468973  8.814995   4.653978
38      38  05-10-2024      9159.961263  13.468973  8.793575   4.675398
39      39  12-10-2024      9137.670555  13.468973  8.772176   4.696797
40      40  19-10-2024      9115.401314  13.468973  8.750797   4.718176
41      41  26-10-2024      9093.153521  13.468973  8.729439   4.739534
42      42  02-11-2024      9070.927153  13.468973  8.708102   4.760871
43      43  09-11-2024      9048.722192  13.468973  8.686785   4.782188
44      44  16-11-2024      9026.538615  13.468973  8.665489   4.803484
45      45  23-11-2024      9004.376403  13.468973  8.644213   4.824760
46      46  30-11-2024      8982.235535  13.468973  8.622958   4.846015
47      47  07-12-2024      8960.115990  13.468973  8.601723   4.867250
48      48  14-12-2024      8938.017748  13.468973  8.580509   4.888464
49      49  21-12-2024      8915.940788  13.468973  8.559315   4.909658
50      50  28-12-2024      8893.885090  13.468973  8.538141   4.930832
51      51  04-01-2025      8871.850633  13.468973  8.516988   4.951985
52      52  11-01-2025      8849.837397  13.468973  8.495855   4.973117

    prepayment  new_origination     maturity  closing_balance
0     0.000000            10000     0.000000     10000.000000
1    19.230769                0     0.000000      9976.900271
2    19.186347                0     0.000000      9953.822789
3    19.141967                0     0.000000      9930.767532
4    19.097630                0     0.000000      9907.734479
5    19.053336                0     0.000000      9884.723608
6    19.009084                0     0.000000      9861.734899
7    18.964875                0     0.000000      9838.768330
8    18.920708                0     0.000000      9815.823879
9    18.876584                0     0.000000      9792.901526
10   18.832503                0     0.000000      9770.001248
11   18.788464                0     0.000000      9747.123025
12   18.744467                0     0.000000      9724.266836
13   18.700513                0     0.000000      9701.432658
14   18.656601                0     0.000000      9678.620472
15   18.612732                0     0.000000      9655.830256
16   18.568904                0     0.000000      9633.061988
17   18.525119                0     0.000000      9610.315648
18   18.481376                0     0.000000      9587.591215
19   18.437675                0     0.000000      9564.888667
20   18.394017                0     0.000000      9542.207983
21   18.350400                0     0.000000      9519.549142
22   18.306825                0     0.000000      9496.912123
23   18.263293                0     0.000000      9474.296906
24   18.219802                0     0.000000      9451.703469
25   18.176353                0     0.000000      9429.131791
26   18.132946                0     0.000000      9406.581851
27   18.089580                0     0.000000      9384.053628
28   18.046257                0     0.000000      9361.547102
29   18.002975                0     0.000000      9339.062252
30   17.959735                0     0.000000      9316.599056
31   17.916537                0     0.000000      9294.157493
32   17.873380                0     0.000000      9271.737544
33   17.830265                0     0.000000      9249.339187
34   17.787191                0     0.000000      9226.962401
35   17.744158                0     0.000000      9204.607165
36   17.701168                0     0.000000      9182.273460
37   17.658218                0     0.000000      9159.961263
38   17.615310                0     0.000000      9137.670555
39   17.572443                0     0.000000      9115.401314
40   17.529618                0     0.000000      9093.153521
41   17.486834                0     0.000000      9070.927153
42   17.444091                0     0.000000      9048.722192
43   17.401389                0     0.000000      9026.538615
44   17.358728                0     0.000000      9004.376403
45   17.316108                0     0.000000      8982.235535
46   17.273530                0     0.000000      8960.115990
47   17.230992                0     0.000000      8938.017748
48   17.188496                0     0.000000      8915.940788
49   17.146040                0     0.000000      8893.885090
50   17.103625                0     0.000000      8871.850633
51   17.061251                0     0.000000      8849.837397
52   17.018918                0  8827.845361         0.000000

In [7]:
a

{'compounding period': 12,
 'periods per year': 52,
 'interest rate per payment': 0.0009600013100943272,
 'renewal period': 52.0,
 'amortization period': 1300.0,
 'payment per period': 13.46897293717892,
 'smm': 0.0019230769230769232,
 'month offset': 0,
 'day offset': 7}

In [8]:
pd.DataFrame(list(a.items()), columns=['Key', 'Value'])

                         Key        Value
0         compounding period    12.000000
1           periods per year    52.000000
2  interest rate per payment     0.000960
3             renewal period    52.000000
4        amortization period  1300.000000
5         payment per period    13.468973
6                        smm     0.001923
7               month offset     0.000000
8                 day offset     7.000000

In [9]:
df_amortization

,period,date,opening_balance,payment,interest,principal,prepayment,new_origination,maturity,closing_balance
0,0,13-01-2024,0.000000,0.000000,0.000000,0.000000,0.000000,10000,0.000000,10000.000000
1,1,20-01-2024,10000.000000,13.468973,9.600013,3.868960,19.230769,0,0.000000,9976.900271
2,2,27-01-2024,9976.900271,13.468973,9.577837,3.891136,19.186347,0,0.000000,9953.822789
3,3,03-02-2024,9953.822789,13.468973,9.555683,3.913290,19.141967,0,0.000000,9930.767532
4,4,10-02-2024,9930.767532,13.468973,9.533550,3.935423,19.097630,0,0.000000,9907.734479
5,5,17-02-2024,9907.734479,13.468973,9.511438,3.957535,19.053336,0,0.000000,9884.723608
6,6,24-02-2024,9884.723608,13.468973,9.489348,3.979625,19.009084,0,0.000000,9861.734899
7,7,02-03-2024,9861.734899,13.468973,9.467278,4.001695,18.964875,0,0.000000,9838.768330
8,8,09-03-2024,9838.768330,13.468973,9.445230,4.023742,18.920708,0,0.000000,9815.823879
9,9,16-03-2024,9815.823879,13.468973,9.423204,4.045769,18.876584,0,0.000000,9792.901526
10,10,23-03-2024,9792.901526,13.468973,9.401198,4.067775,18.832503,0,0.000000,9770.001248
11,11,30-03-2024,9770.001248,13.468973,9.379214,4.089759,18.788464,0,0.000000,9747.123025
12,12,06-04-2024,9747.123025,13.468973,9.357251,4.111722,18.744467,0,0.000000,9724.266836
13,13,13-04-2024,9724.266836,13.468973,9.335309,4.133664,18.700513,0,0.000000,9701.432658
14,14,20-04-2024,9701.432658,13.468973,9.313388,4.155585,18.656601,0,0.000000,9678.620472
15,15,27-04-2024,9678.620472,13.468973,9.291488,4.177485,18.612732,0,0.000000,9655.830256
16,16,04-05-2024,9655.830256,13.468973,9.269610,4.199363,18.568904,0,0.000000,9633.061988
17,17,11-05-2024,9633.061988,13.468973,9.247752,4.221221,18.525119,0,0.000000,9610.315648
18,18,18-05-2024,9610.315648,13.468973,9.225916,4.243057,18.481376,0,0.000000,9587.591215
19,19,25-05-2024,9587.591215,13.468973,9.204100,4.264873,18.437675,0,0.000000,9564.888667
20,20,01-06-2024,9564.888667,13.468973,9.182306,4.286667,18.394017,0,0.000000,9542.207983
21,21,08-06-2024,9542.207983,13.468973,9.160532,4.308441,18.350400,0,0.000000,9519.549142
22,22,15-06-2024,9519.549142,13.468973,9.138780,4.330193,18.306825,0,0.000000,9496.912123
23,23,22-06-2024,9496.912123,13.468973,9.117048,4.351925,18.263293,0,0.000000,9474.296906
24,24,29-06-2024,9474.296906,13.468973,9.095337,4.373635,18.219802,0,0.000000,9451.703469
25,25,06-07-2024,9451.703469,13.468973,9.073648,4.395325,18.176353,0,0.000000,9429.131791
26,26,13-07-2024,9429.131791,13.468973,9.051979,4.416994,18.132946,0,0.000000,9406.581851
27,27,20-07-2024,9406.581851,13.468973,9.030331,4.438642,18.089580,0,0.000000,9384.053628
28,28,27-07-2024,9384.053628,13.468973,9.008704,4.460269,18.046257,0,0.000000,9361.547102
29,29,03-08-2024,9361.547102,13.468973,8.987097,4.481875,18.002975,0,0.000000,9339.062252
30,30,10-08-2024,9339.062252,13.468973,8.965512,4.503461,17.959735,0,0.000000,9316.599056
31,31,17-08-2024,9316.599056,13.468973,8.943947,4.525026,17.916537,0,0.000000,9294.157493
32,32,24-08-2024,9294.157493,13.468973,8.922403,4.546570,17.873380,0,0.000000,9271.737544
33,33,31-08-2024,9271.737544,13.468973,8.900880,4.568093,17.830265,0,0.000000,9249.339187
34,34,07-09-2024,9249.339187,13.468973,8.879378,4.589595,17.787191,0,0.000000,9226.962401
35,35,14-09-2024,9226.962401,13.468973,8.857896,4.611077,17.744158,0,0.000000,9204.607165
36,36,21-09-2024,9204.607165,13.468973,8.836435,4.632538,17.701168,0,0.000000,9182.273460
37,37,28-09-2024,9182.273460,13.468973,8.814995,4.653978,17.658218,0,0.000000,9159.961263
38,38,05-10-2024,9159.961263,13.468973,8.793575,4.675398,17.615310,0,0.000000,9137.670555
39,39,12-10-2024,9137.670555,13.468973,8.772176,4.696797,17.572443,0,0.000000,9115.401314
40,40,19-10-2024,9115.401314,13.468973,8.750797,4.718176,17.529618,0,0.000000,9093.153521
41,41,26-10-2024,9093.153521,13.468973,8.729439,4.739534,17.486834,0,0.000000,9070.927153
42,42,02-11-2024,9070.927153,13.468973,8.708102,4.760871,17.444091,0,0.000000,9048.722192
43,43,09-11-2024,9048.722192,13.468973,8.686785,4.782188,17.401389,0,0.000000,9026.538615
44,44,16-11-2024,9026.538615,13.468973,8.665489,4.803484,17.358728,0,0.000000,9004.376403
45,45,23-11-2024,9004.376403,13.468973,8.644213,4.824760,17.316108,0,0.000000,8982.235535
46,46,30-11-2024,8982.235535,13.468973,8.622958,4.846015,17.273530,0,0.000000,8960.115990
47,47,07-12-2024,8960.115990,13.468973,8.601723,4.867250,17.230992,0,0.000000,8938.017748
48,48,14-12-2024,8938.017748,13.468973,8.580509,4.888464,17.188496,0,0.000000,8915.940788
49,49,21-12-2024,8915.940788,13.468973,8.559315,4.909658,17.146040,0,0.000000,8893.885090
50,50,28-12-2024,8893.885090,13.468973,8.538141,4.930832,17.103625,0,0.000000,8871.850633
51,51,04-01-2025,8871.850633,13.468973,8.516988,4.951985,17.061251,0,0.000000,8849.837397
52,52,11-01-2025,8849.837397,13.468973,8.495855,4.973117,17.018918,0,8827.845361,0.000000

In [10]:
df_amortization.round(2).to_excel("forst.xlsx")